<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"komeko-kitchen/hero"} /-->
	<!-- wp:pattern {"slug":"komeko-kitchen/concept"} /-->
	<!-- wp:pattern {"slug":"komeko-kitchen/online-lesson"} /-->
	<!-- wp:pattern {"slug":"komeko-kitchen/shop"} /-->
	<!-- wp:pattern {"slug":"komeko-kitchen/featured-article"} /-->
	<!-- wp:pattern {"slug":"komeko-kitchen/blog"} /-->
	<!-- wp:pattern {"slug":"komeko-kitchen/membership"} /-->
	<!-- wp:pattern {"slug":"komeko-kitchen/instagram"} /-->
	<!-- wp:pattern {"slug":"komeko-kitchen/cta"} /-->
	<!-- wp:pattern {"slug":"komeko-kitchen/policy"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
